<h1>All Articles</h1>
<%= link_to 'New Article', new_article_path %>
<%= link_to 'All Comments (temp)', comments_path %>

<table>
  <tr>
    <th>Linked Title</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article.url  %></td>
    </tr>
  <% end %>
</table>


