<h1>All Articles</h1>
<%= link_to 'New Article', new_article_path %>

<table>
  <tr>
    <th>Linked Title, Date</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article.url  %>, <%= article.created_at.asctime%>, <%= link_to "Discuss", article %></td>
    </tr>
  <% end %>
</table>





